@page "/admin/user"
@inject NavigationManager _navigation
<PageTitle>Users</PageTitle>

@if(Users != null)
{
    <table class="table">
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Username</th>
            <th>Detials</th>
            <th>Delete</th>
        </tr>
        @foreach(var item in Users)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Email</td>
                <td>@item.Address</td>
                <td>@item.Username</td>
                <td><button @onclick="() => HandleDetialsClick(item.Id)">Details</button></td>
                <td><button @onclick="() => HandleDeleteClick(item.Id)">Delete</button></td>
            </tr>
        }
    </table>
}

@code {
    [Inject]
    public IUserRepository _userRepository { get; set; }
    public IEnumerable<UserDto>? Users { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Users = await _userRepository.GetAllUsers();
    }

    void HandleDetialsClick(int? id)
    {
        _navigation.NavigateTo($"/admin/user/details/{id}");
    }

    void HandleDeleteClick(int? id)
    {
        _navigation.NavigateTo($"/admin/user/delete/{id}");
    }
}
